body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 400px;
    background: #fff;
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transform-style: preserve-3d; /* 3D effektni saqlash */
    perspective: 1000px; /* 3D perspektiva kuchi */
    margin: 20px auto; /* O'rta joylash */

}

h1 {
    text-align: center;
    color: #333;
}

input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-bottom: 2px solid #4CAF50;
}

label {
    font-size: 18px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
    transform: translateY(-3px); /* Y 3D o'zgarish */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* 3D effekt uchun quyidagi yo'l */
}