/* static/css/style.css */
/* Forma shakli */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
   text-align: center;
}
form {
    width: 400px;
    background: #fff;
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transform-style: preserve-3d; /* 3D effektni saqlash */
    perspective: 1000px; /* 3D perspektiva kuchi */
    margin: 20px auto; /* O'rta joylash */

}
#id_you_tobe_linki{
    plas
}
/* Input va selectlar */
input[type="text"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.9); /* Orqa fon shaffofligi */
}

input[type="text"]:focus,
select:focus {
    border-bottom: 2px solid #4CAF50;
}

/* Label lar */
label {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #777;
    transition: all 0.3s ease;
    opacity: 0;
}

input[type="text"]:focus ~ label,
select:focus ~ label {
    top: -10px;
    left: 0;
    color: #4CAF50;
}

/* Saqlash tugmasi */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
    transform: translateY(-3px); /* Y o'zgarish */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* 3D effekt uchun quyidagi yo'l */
}
