{% extends 'base.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solishtirish</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/sanoq_sistema.css' %}">
    <style>
        .link-container {
    display: flex;
    gap: 20px;
}

.styled-link {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.styled-link:hover {
    background-color: #0056b3;
    transform: translateY(-5px);
}

.styled-link:active {
    background-color: #003f7f;
}
    </style>
    {% endblock %}
</head>
<body>
    <div class="container mt-5">
        <div class="row form-container">
            <div class="link-container">
                <a href="{% url 'sanoq_sistema'%}" class="styled-link">10 --&gt; x</a>
                <a href="{% url 'son_sanoq'%}" class="styled-link">x --&gt; 10</a>
            </div>
            <form id="compare-form" method="POST" class="row">
                {% csrf_token %}
                <div class="col-md-6">
                    <h3>Sanoq sistema</h3>
                    <div class="mb-3">
                        {{ form.son.label_tag }} {{ form.son }}
                    </div>
                    <div class="mb-3">
                        {{ form.kiritilgan_son.label_tag }} {{ form.kiritilgan_son }}
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary">O'tkazish</button>
                </div>
            </form>
        </div>
        <div id="result" class="result-container">
           
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#compare-form').on('submit', function(e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: window.location.href,
                    data: $(this).serialize(),
                    success: function(response) {
                        $('#result').html(`
                            <div class="row">
                                <div class="col-5">
                                    <h3>Natija</h3>
                                    <p>${response.sanoq_sistema} lik sanoq sistemadan 10 lik sanoq sistemaga o'tkazish ko'rinishi : ${response.son}</p>
                                </div>
                            </div>
                        `);
                    },
                    error: function(response) {
                        alert('An error occurred. Please try again. ');
                    }
                });
            });
        });
    </script>
</body>
</html>
{% endblock %}
